.App {
  font-family: monospace;
}
.App textarea {
  position: fixed;
  left: 0; 
  top: 64px;
  bottom: 146px;
  width: 30%;
  padding: 8px;
  border: 1px solid #888;
  outline: none;
  height: calc(100% - 210px);
}

#instructions {
  background-color: #eee;
  position: fixed;
  left: 0;
  width: 30%;
  padding: 8px;
  bottom: 0;
  height: 146px;
}

#instructions p, #instructions h4 {
  margin: 2px;
}

.App textarea:focus{
  border: 1px solid #444;
}

.chart-container {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 64px;
  width: 70%;
  overflow: auto;
}
.chart-container div {
  margin: 1em;
}
.App .logo {
  position: fixed;
  left: 0;
  top: 0;
  height: 64px;
  width: 30%;
  padding: 8px;
}

.App .logo h1{
  color: #444;
  font-weight: bold;
  margin: 0
}
.App .logo p{
  color: #444;
  margin: 0
}
#download-button {
  z-index: 2;
  position: fixed;
  right: 2em;
  bottom: 2em;
  background-color: #007FFF;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px #4445;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#download-button:hover{
  background-color: #0072E5;
  box-shadow: 4px 4px 8px #4447;
}

#download-button::before{
  content: "⬇";
  font-weight: bold;
  color: rgba(255,255,255, 0.7);
  font-size: 48px;
  padding-bottom: 0.1em;
}

#download-button:hover::before{
  color: rgba(255,255,255, 1);
}

#download-button span{
  display: none;
}