.App textarea {
  position: fixed;
  left: 0; top: 64px;
  height: 100%;
  width: calc(30% - 16px);
  padding: 8px;
  border: 1px solid #888;
  outline: none;
}

.App textarea:focus{
  border: 1px solid #444;
}

.chart-container {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 64px;
  width: 70%;
  overflow: auto;
}
.chart-container div {
  margin: 1em;
}
.App .logo {
  font-family: monospace;
  position: fixed;
  left: 0;
  top: 0;
  height: 64px;
  width: calc(30% - 16px);
  padding: 8px;
}

.App .logo h1{
  color: #444;
  font-weight: bold;
  margin: 0
}
.App .logo p{
  color: #444;
  margin: 0
}
#download-button {
  z-index: 2;
  position: fixed;
  right: 2em;
  bottom: 2em;
  background-color: #007FFF;
  width: 56px;
  height: 56px;
  display: block;
  border-radius: 50%;
  box-shadow: 4px 4px 8px #4445;
}

#download-button:hover{
  background-color: #0072E5;
  box-shadow: 4px 4px 8px #4447;
}

#download-button::before{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "⬇";
  font-weight: bold;
  color: rgba(255,255,255, 0.7);
  font-size: 48px;
  line-height: 100%;
  text-align: center;
}


#download-button:hover::before{
  color: rgba(255,255,255, 1);
}

#download-button span{
  display: none;
}